body {
    background-color: rgb(202, 202, 202);
}

h5 {
    color: rgb(22, 196, 172);
}

h3 {
    color: rgb(22, 35, 150);
}

h4 {
    color: rgb(22, 131, 150);
}

h2 {
    color: rgb(22, 150, 86);
}

.fixed-top{
    height: 8%;
    
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#content-wrap {
    margin-bottom: 20px;
    margin-top: 80px;
    position: relative;
    padding-bottom: 5rem;
    /* Footer height */
}

/* First page i.e Login */

.login {
    width: auto;
    font-size: 1.1rem; }

.login-form {
    width: 500px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.login .form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.login .arrow-down {
    border-top: 20px solid #4273f9;
}


.login--header {
    padding: .7em 0;
    color: #fff;
    position: relative;
    background-color: #4273f9;
}

.login--header h3 {
    text-transform: UPPERCASE;
    color: white;
}

.arrow-down {
    z-index: 999;
    border: 20px solid transparent;
    position: absolute;
    margin: 0 auto;
    top: 100%;
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.login span.icon {
    display: inline-block !important;
}

.login span.icon-small {
    font-size: 1.8em;
    line-height: 1.9em;
    width: 2em;
    text-align: center;
}

.login span.icon-medium {
    font-size: 2.5em;
    line-height: 1.9em;
    width: 2em;
    text-align: center;
}

.login--header .icon {
    border: 2px solid #fff;
    border-radius: 50%;
}
  
/***********End of Login controls ************/

.blog-post h3 {
    text-transform: None;
    color: white;
}

.btn.btn-rounded {
    border-radius: 50px;
} 
